go 1.24.0

use (
	./ansCRUBi
	./barker
	./calshow
	./chaptor
	./cw
	./describeFiles
	./dripC
	./fickleFinger
	./filterMyCal
	./indexFiles
	./kompti
	./mdMake
	./megalophobia
	./quoteadder
	./watchAdir
	./xwin
	./zustellen
)
