go 1.24.5

use (
	./ansCRUBi
	./ansible
	./barker
	./calshow
	./cedula
	./chaptor
	./cw
	./describeFiles
	./dripC
	./fickleFinger
	./filterMyCal
	./indexFiles
	./kompti
	./kwiqExt
	./lineExplorer
	./lotajxo
	./mdMake
	./megalophobia
	./quoteadder
	./shFossils
	./watchAdir
	./xwin
	./zustellen
)
